@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../../assets/SF-Pro-Text-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../../assets/SF-Pro-Text-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../../assets/SF-Pro-Text-Bold.otf') format('opentype');
  font-display: swap;
}