body {
  font-family: var(--font-family);
  font-size: var(--font-size-0);
  line-height: 1.33;
  color: var(--color-seal);
  background-color: var(--color-shark-4);
}

button {
  cursor: pointer;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
  line-height: 1.285;
}

a {
  text-decoration: none;
  color: inherit;
}