<div *ngIf="character" class="l-wrapper b-individual">
  <div class="c-card">
    <img
        [src]="character.image"
        alt="{{character.name}}"
        id="character-portrait"
        class="c-card__media"
        width="300"
        height="300"
    />
    <div class="c-card__title">{{character.name}}</div>
    <div class="c-card__subtitle">
      <span>{{character.gender}}</span>
      <span>{{character.species}}</span>
    </div>
  </div>
</div>