<div class="b-records l-wrapper">
  <div class="c-table-holder">
    <table class="c-table">
      <tbody *ngIf="episodesCall?.results">
        <tr *ngFor="let e of episodesCall.results" class="c-table__row">
          <td class="c-table__cell">{{e.name}}</td>
          <td class="c-table__cell u-ta-right">{{e.episode}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="b-records__pagination" *ngIf="pages">
    <nav class="c-pagination">
      <button
          *ngFor="let p of pages"
          [ngClass]="{'active': (p===currentPage)}"
          (click)="getEpisodes(p)"
          class="c-pagination__item"
      >{{p}}</button>
    </nav>
  </div>
</div>