@import "../sass/settings/functions";
@import "../sass/settings/variables_sass";

.b-banner {
  position: relative; // to host an absolutely positioned svg file
  text-align: center;
  background-color: var(--color-seal);

  h1 {
    position: relative;
    z-index: 1;
    font-size: var(--font-size-10);
    color: var(--color-shark-3);
  }

  svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: var(--color-seal-2);
    width: clamped(160px, 250px);
    height: clamped(160px, 250px);
  }
}

.b-navigation {
  display: flex;
  justify-content: center;
  gap: var(--space-8) var(--space-48);
  flex-wrap: wrap;

  a {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-5);
    color: var(--color-seal-3);

    &.active {
      color: var(--color-seal);
    }
  }
}