.u-ta-right {
  text-align: right;
}

.u-theme-light {
  --color-seal: #384047;
  --color-seal-2: #2B343B;
  --color-seal-3: #292D34;
  --color-seal-4: #F2F4F7;
  --color-shark: #ABAEB0;
  --color-shark-2: #d3d5d6;
  --color-shark-3: #F2F4F7;
  --color-shark-4: #fff;
}

.u-flow > * + * {
	margin-top: var(--space-16);
}

.u-flow-64 > * + * {
	margin-top: var(--space-64);
}