<div class="l-wrapper u-flow-64">
  <section class="u-flow b-scale">
    <h2>Font scale</h2>
    <div
        *ngFor="let index of [-1,0,1,2,3,4,5,6,7,8,9,10]"
    >
      <span>--font-size-{{index}}:</span>
      <span style="font-size: var(--font-size-{{index}})">The Rick and Morty</span>
    </div>
  </section>
  <section class="u-flow b-scale b-scale--space">
    <h2>Space scale</h2>
    <div
        *ngFor="let index of [4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120]"
    >
      <span>--space-{{index}}:</span>
      <span style="--space-size: var(--space-{{index}})"></span>
    </div>
  </section>
  <section class="u-flow  b-scale b-scale--color">
    <h2>Colors</h2>
    <div
        *ngFor="let index of ['seal', 'seal-2', 'seal-3', 'seal-4', 'squid', 'squid-2', 'shark', 'shark-2', 'shark-3', 'shark-4']"
    >
      <span>--color-{{index}}:</span>
      <span style="--color-var: var(--color-{{index}})"></span>
    </div>
  </section>
  <section class="u-flow b-scale">
    <div>
      <h2>Theme toggle</h2>
      <input type="checkbox" (click)="toggleDarkMode()"/>
    </div>
  </section>
</div>
