.b-scale {
  div {
    display: flex;
    gap: var(--space-16);
    align-items: center;
  }

  span:first-child {
    flex-basis: calc(var(--space-120) + var(--space-32));
  }

  input[type="checkbox"] {
    width: var(--space-32);
    height: var(--space-32);
    accent-color: var(--color-squid);
    cursor: pointer;
  }
}

.b-scale--space {
  span + span {
    display: inline-block;
    width: var(--space-size);
    height: var(--space-size);
    border: 1px solid var(--color-squid);
  }
}

.b-scale--color {
  span + span {
    display: inline-block;
    width: var(--space-64);
    height: var(--space-64);
    background-color: var(--color-var);
    border: 1px solid var(--color-seal-3);
  }
}