.c-card {
  border-radius: var(--space-4);
  border: 1px solid var(--color-shark);
  background-color: var(--color-shark-2);
  padding: var(--space-40) var(--space-40) var(--space-56);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: var(--space-32);
}

.c-card__media {
  border-radius: var(--space-104);
  max-width: 18.75rem;
  width: 100%;
  height: auto;
}

.c-card__title {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-medium);
  text-align: center;
  padding-block-start: var(--space-16);
}

.c-card__subtitle {
  font-size: var(--font-size-1);
  display: flex;
  gap: var(--space-24);
}