.c-cta {
  @include fieldAbstract;
  border-color: var(--c-cta-border-color, var(--color-squid));
  background-color: var(--c-cta-background-color, var(--color-squid));
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-1);
  color: var(--c-cta-color, var(--color-seal));
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &[disabled],
  &--disabled {
    --c-cta-background-color: var(--color-seal-4);
    --c-cta-color: var(--color-seal-1);
    --c-cta-border-color: transparent;
    pointer-events: none;
  }

  &:hover {
    --c-cta-background-color: var(--color-squid-2);
    text-decoration: none;
  }
}

// outline
// in case we need it ;)
.c-cta--outline {
  --c-cta-border-color: var(--color-squid);
  --c-cta-color: var(--color-squid);
  --c-cta-background-color: transparent;

  &:hover {
    --c-cta-border-color: var(--color-squid-2);
    --c-cta-color: var(--color-squid-2);
    --c-cta-background-color: var(--color-seal);
  }
}

