.c-input {
  font-weight: var(--font-weight-medium);
}

// label is not in the design yet...
.c-input__label {
  display: block;
  padding-block-end: var(--space-16);
}

.c-input__field {
  @include fieldAbstract;
  border-color: var(--color-seal);
  background-color: var(--color-seal);
  color: var(--color-shark-3);
  width: 100%;

  &::placeholder {
    font-weight: var(--font-weight-regular);
    color: var(--color-seal-4);
  }
}