.c-pagination {
  display: flex;
  gap: var(--space-4);
  flex-wrap: wrap;
}

.c-pagination__item {
  border: none;
  background-color: #0000;
  color: var(--c-pagination-item-color, var(--color-seal));
  border-radius: var(--space-4);
  transition-property: color;
  transition-duration: var(--transition-time);
  font-size: var(--font-size--1);
  height: var(--space-32);
  min-width: var(--space-32);

  &.active,
  &:hover {
    --c-pagination-item-color: var(--color-squid);
  }
}