.c-table {
  width: 100%;
}

.c-table__row {
  display: flex;
  align-items: center;
  gap: var(--space-16);
  padding: var(--space-8) var(--space-16);
  border-radius: var(--space-4);
  background-color: var(--c-table-row-background, var(--color-shark-2));
  transition-property: background-color, color;
  transition-duration: var(--transition-time);
  color: var(--c-table-row-color, inherit);
  position: relative; // so the outline fx looks fine - borders are collapsed

  // so the native keyboard focus is not overridden
  &:not(:focus-visible) {
    outline: 1px solid var(--c-table-row-outline, var(--color-shark));
  }

  // so the outline fx is on top
  &:focus-visible {
    z-index: 1;
  }

  &[tabindex="0"] {
    &:hover {
      --c-table-row-background: var(--color-shark);
      --c-table-row-color: var(--color-squid);
      cursor: pointer;
    }
  }
}

.c-table__cell {
  font-size: var(--font-size--1);
  flex: 1 1 0;
  white-space: nowrap;

  &:first-child {
    font-size: var(--font-size-0);
  }
}

.c-table-holder {
  overflow-y: hidden;
  overscroll-behavior-x: contain; // https://dev.to/danburzo/css-micro-tip-prevent-history-navigation-on-horizontally-scrolling-elements-3iil
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: var(--space-24);
    border-top: var(--border-primary);
  }

  // so the whole thumb is draggable though it still looks tinier
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--color-squid) 0%, var(--color-squid) 100%);
    background-repeat: no-repeat;
    background-size: 100% var(--space-16);
    background-position-y: 65%;
  }
}