@mixin padding($prefix, $property, $space) {
  &#{$prefix}-#{$space} {
    #{$property}: var(--space-#{$space});
  }
}

.l-p {
  @each $space in $spaces {
    // all
    @include padding('', 'padding', $space);

    // left
    @include padding('l', 'padding-inline-start', $space);

    // right
    @include padding('r', 'padding-inline-end', $space);

    // horizontal
    @include padding('h', 'padding-inline', $space);

    // top
    @include padding('t', 'padding-block-start', $space);

    // bottom
    @include padding('b', 'padding-block-end', $space);

    // vertical
    @include padding('v', 'padding-block', $space);
  }
}