@mixin fieldAbstract() {
  padding: 0 var(--space-16);
  border-radius: var(--space-8);
  // 43px height minus borders
  // if we wanted to stick to our spacing scale this should be either 40px or 48px high
  // let's treat it as an exception for the sake of this exercise ;)
  line-height: calc((43 - 2) / 16 * 1rem);
  transition-property: background-color, color;
  transition-duration: var(--transition-time);
  border-width: 1px;
  border-style: solid;
}

@mixin tableAbstract() {
  .c-table__cell {
    &:first-child {
      flex-grow: 3.5;
      flex-basis: 10rem;
    }
  }
}

@mixin paginationAbstract() {
  .b-records__pagination {
    display: flex;
    justify-content: center;
    padding: var(--space-40) var(--space-32) 0;
  }
}