:root {
  // font
  --font-family: 'SF Pro Text';
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size--1: #{clamped(14px, 14px)};
  --font-size-0: #{clamped(16px, 16px)};
  --font-size-1: #{clamped(17px, 18px)};
  --font-size-2: #{clamped(18px, 22px)};
  --font-size-3: #{clamped(19px, 24px)};
  --font-size-4: #{clamped(20px, 28px)};
  --font-size-5: #{clamped(22px, 32px)};
  --font-size-6: #{clamped(24px, 36px)};
  --font-size-7: #{clamped(25px, 42px)};
  --font-size-8: #{clamped(32px, 48px)};
  --font-size-9: #{clamped(40px, 56px)};
  --font-size-10: #{clamped(48px, 64px)};

  // space
  @each $space in $spaces {
    --space-#{$space}: #{clamped(calc($space /2) * 1px, $space * 1px)};
  }

  // color
  --color-seal: #fff;
  --color-seal-2: #F2F4F7;
  --color-seal-3: #ABAEB0;
  --color-seal-4: #7C828D;
  --color-squid: #7B68EE;
  --color-squid-2: #4b3da9;
  --color-shark: #384047;
  --color-shark-2: #2B343B;
  --color-shark-3: #292D34;
  --color-shark-4: #1E272E;

  // transition
  --transition-time: 0.2s;
}