<div class="b-search-block l-pb-40 l-wrapper">
  <div class="c-input">
    <input
        class="c-input__field"
        name="name-search"
        placeholder="Search By Name"
        type="text"
        autocomplete="off"
        [(ngModel)]="searchTerm"
    />
  </div>
  <button class="c-cta" (click)="getCharacters(1)">Search</button>
</div>

<div class="b-records l-wrapper">
  <div class="c-table-holder">
    <table *ngIf="characterCall" class="c-table">
      <tbody *ngIf="characterCall.results">
        <tr
            *ngFor="let c of characterCall.results"
            [routerLink]="['/character', c.id]"
            [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }"
            class="c-table__row"
        >
          <td class="c-table__cell">{{c.name}}</td>
          <td class="c-table__cell">{{c.species}}</td>
          <td class="c-table__cell">{{c.status}}</td>
          <td class="c-table__cell">{{c.gender}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="b-records__pagination" *ngIf="pages">
    <nav class="c-pagination">
      <button
          *ngFor="let p of pages"
          [ngClass]="{'active': (p === currentPage)}"
          (click)="getCharacters(p)"
          class="c-pagination__item"
      >{{p}}</button>
    </nav>
  </div>
</div>

