@import "../../sass/settings/mixins";

.b-search-block {
  display: flex;
  gap: var(--space-8) var(--space-24);
  flex-wrap: wrap;

  .c-input {
    flex-grow: 4.5;
  }

  .c-cta {
    flex-grow: 1;
  }
}

.b-records {
  @include tableAbstract();
}

@include paginationAbstract();

